body {
  font-family: Arial;
  text-align: center;
  background: #f8f1f1;
}

.card {
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 15px;
  background: white;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

input {
  padding: 8px;
  margin: 5px;
  width: 80%;
}
